{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="ms-3 container mx-auto">
        <div class="col-7 mx-auto">
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th scope="col">Nom</th>
                    <th scope="col">points</th>

                </tr>
                </thead>
                <tbody>
                {% for club in clubs %}

                    <tr class="text-center">

                        <td> {{ club.nom }}</td>
                        <td> {{ club.points }}</td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>


        </div>


    </div>


{% endblock %}
