body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/642/77/309/champions-champions-league-football-uefa-wallpaper-preview.jpg");
    background-size: cover;
}
.unstyle{
    text-decoration: none!important;
}
.clubStyleText{
    font-size: 32px;
}
.border {
    border: 2px blue dashed;
}

.mr-0 {
    margin-right: 0;
}
.ml-auto {
    margin-left:auto;
}
.d-block {
    display:block;
}