body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/642/77/309/champions-champions-league-football-uefa-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden;

}

.wrapper {

    margin-top: 4.3rem;
    margin-bottom: 15px;

}

.unstyle {
    text-decoration: none !important;
}

.clubStyleText {
    font-size: 32px;
}

.cardCustom {
    background-color: rgba(255, 255, 255, 0.2);


}


.border {
    border: 2px blue dashed;
}

.mr-0 {
    margin-right: 0;
}

.ml-auto {
    margin-left: auto;
}

.d-block {
    display: block;
}